.nav-link {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #b91646 !important;
}

.navbar-bg {
  background-color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar-bg-scrolled {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.showMenu {
  min-height: 100vh;
  padding: 30px;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1200px) {
  .showMenu {
    min-height: max-content;
    padding: 0;
    background: none;
  }
}
