.icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  color: #b91646;
  transform: scale(1.2);
}

.footer {
  height: max-content !important;
  padding: 0;
  min-height: 100%;
}
