@font-face {
  font-family: "Brittany Signature";
  src: url("/src/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-sign {
  font-family: "Brittany Signature", cursive !important;
  font-size: 3rem;
}

.font-mono {
  font-weight: 700;
  font-size: 2rem;
  color: #888;
  opacity: 0.7;
  font-family: "Courier New", monospace !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
main {
  padding-top: 4.5rem;
  overflow: hidden;
}
section {
  height: 100%;
  min-height: 100vh;
  padding: 6rem 0 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  object-fit: cover;
  cursor: pointer;
}
